[submodule "okhttp"]
	path = okhttp
	url = git@github.com:huahang/okhttp.git
[submodule "chic-rootpom"]
	path = chic-rootpom
	url = git@github.com:huahang/chic-rootpom.git
[submodule "zxing"]
	path = zxing
	url = git@github.com:huahang/zxing.git
[submodule "retrofit"]
	path = retrofit
	url = git@github.com:huahang/retrofit.git
[submodule "picasso"]
	path = picasso
	url = git@github.com:huahang/picasso.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:JakeWharton/ActionBarSherlock.git
[submodule "Android-PullToRefresh"]
    path = Android-PullToRefresh
    url = git@github.com:chrisbanes/Android-PullToRefresh.git
[submodule "SlidingMenu"]
    path = SlidingMenu
    url = git@github.com:huahang/SlidingMenu.git
