[submodule "okhttp"]
	path = okhttp
	url = git@github.com:huahang/okhttp.git
[submodule "chic-rootpom"]
	path = chic-rootpom
	url = git@github.com:huahang/chic-rootpom.git
[submodule "spongycastle"]
	path = spongycastle
	url = git@github.com:huahang/spongycastle.git
