[submodule "okhttp"]
	path = okhttp
	url = git@github.com:huahang/okhttp.git
[submodule "chic-rootpom"]
	path = chic-rootpom
	url = git@github.com:huahang/chic-rootpom.git
[submodule "zxing"]
	path = zxing
	url = git@github.com:huahang/zxing.git
[submodule "retrofit"]
	path = retrofit
	url = git@github.com:huahang/retrofit.git
